nav{
   
    color: white;
    background-color: black;
    height: 72px;
    padding: 0 ;
}
nav .container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.Navbrand{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 0;
}
nav ul{
    height: 100%;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul li{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li a{
    height: 100%;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    margin: 0 8px;
    transition: 500ms;
}
nav ul li a:hover{
    background-color: gold;
    color: black;
    font-size: 30px;
    font-weight: bold;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 0 15px 0 15px;
}
nav .mobile_navbar--open{
    display: none;
}
nav .mobile_navbar--close{
    display: none;
}
.nav_box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.nav_box__log{
    cursor: pointer;
    color:#fff
}
.nav_box__icon{
    display: none;
    cursor: pointer;
}
@media screen and (max-width:1170px) {
    .nav_box__icon{
        display: block;
    }
    .desktop_navbar{
        display: none;
    }
    nav{
        min-height: auto;
        height: auto;
    }
    nav .mobile_navbar--open{
        padding: 20px 0;
        height: 600px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: start;
        animation-name: mobilNavbar;
        animation-duration: 700ms;
    }
    @keyframes mobilNavbar {
        0% {height: 0;
        }
        30% {height: 800px;
        }
        60%{height: 400px;
        }
        100%{height: 600px;
        }
    }
    nav .mobile_navbar--close{
        padding: 0;
        height: 0;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        align-items: start;
        animation-name: mobilNavbarclose;
        animation-duration: 300ms;
    }
    @keyframes mobilNavbarclose {
        0% {height: 600px;
        }
        30% {height: 800px;
        }
        100%{height:0;
        }
    }
    nav .mobile_navbar--open li{
        margin-bottom: 8px;
    }
}
